// Global Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Brandon-Grotesque-Medium';
    src: url('/src/assets/brandon-grotesque-regular-italic-58a8a456c4724.otf');
}

// Global Colours 
$white: #FFFFFF;

body {
    height: 100%;
    background-color: var(--white);
    font-family: 'Open Sans';
}



